@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower|Architects+Daughter);


body
{
	background-color:rgb(220,220,220);
	

}

.main_blue
{
	color:#005EB8;

}

.main_cherry
{
	color:#CE0058;

}

.main_font
{
	font-family:Arial, Helvetica, sans-serif;

}
#logo
{
	margin:0px;
	padding:0px;
		
		padding-left:5px;
	width:400px;
	height:70px;
	background: url(http://www.clker.com/cliparts/h/u/h/1/T/V/hot-pink-star-hi.png);
    background-size: 15% 80%;
    background-repeat: no-repeat;
	
	
	left:10px;
	top:5px;
	
	

}






#left_logo, #right_logo
{

	font-family: 'Covered By Your Grace', cursive;
	font-size:35pt;
	color:#005EB8;

}

#middle_logo
{
	
	color:#CE0058;
	font-size:45pt;
	font-family: 'Covered By Your Grace', cursive;
	

}

#logo_text
{
	padding:0px;
	margin:0px;
	padding-left:17%;
	padding-top:0%;

}

#menu_bar
{
	width:100%;
	min-width:1000px;
	height:60px;
	position:absolute;
	top:90px;
	left:0px;
	background-color:#005EB8;
	
	

}


#menu_bar ul
{
	list-style-type: none;
	margin: 10;
	padding: 10;
	

}

#menu_bar ul li
{
	display:inline;
	padding:10px;
	border-right: 1px solid white;

}

#menu_bar ul li:last-child { border-right: 0px; }

#left_menu
{
	float:left;

}

#right_menu
{
	float:right;

}

#menu_bar ul li a
{
	color:white;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;

}

#news
{
	
	width:500px;
	position:relative;
	top:100px;
	left:30px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:25px;
	
	

}

.container
{
	background-color:white;
	box-shadow: 5px 5px 5px #888888;
	

}

h2
{
	color:#CE0058;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25pt;
	
	

}

.single_news
{
	width:100%;
	background-color:white;
	padding-top:5%;
	padding-bottom:5%;
	
	

}

#news_date, #news_author
{
	color:rgb(200,200,200);
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	

}

h3
{

	color:#005EB8;
	font-size:20pt;

}

p
{
	font-family:Arial, Helvetica, sans-serif;
	

}

.single_news a
{
	text-decoration:none;
	float:right;
	font-size:16pt;
	color:#005EB8;
	

}

.news_separator
{
	width:100%;
	background-color:#CE0058;
	border-radius:25px;
	height:3px;
	margin-top:40px;
	
	

}

.news_img
{
	width:30%;
	height:25%;
    float:left;
	padding-right:25px;
	padding-top:20px;
	vertical-align:text-top;

}

.news_icon
{
	width:20px;
	height:20px;

}
