@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower|Architects+Daughter);


body
{
	background-color:rgb(220,220,220);
	

}
#logo
{
	margin:0px;
	padding:0px;
		
		padding-left:5px;
	width:20%;
	height:10%;
	background: url(http://www.clker.com/cliparts/h/u/h/1/T/V/hot-pink-star-hi.png);
    background-size: 20% 80%;
    background-repeat: no-repeat;
	
	
	left:10px;
	top:5px;
	
	

}






#left_logo, #right_logo
{

	font-family: 'Covered By Your Grace', cursive;
	font-size:35pt;
	color:#005EB8;

}

#middle_logo
{
	
	color:#CE0058;
	font-size:45pt;
	font-family: 'Covered By Your Grace', cursive;
	

}

#logo_text
{
	padding:0px;
	margin:0px;
	padding-left:19%;
	padding-top:0%;

}

#menu_bar
{
	width:100%;
	height:10%;
	position:absolute;
	top:15%;
	left:0px;
	background-color:#005EB8;
	
	

}


#menu_bar ul
{
	list-style-type: none;
	margin: 10;
	padding: 10;
	

}

#menu_bar ul li
{
	display:inline;
	padding:10px;
	border-right: 1px solid white;

}

#menu_bar ul li:last-child { border-right: 0px; }

#left_menu
{
	float:left;

}

#right_menu
{
	float:right;

}

#menu_bar ul li a
{
	color:white;
	text-decoration:none;
	font-family:"Verdana";
	font-size:11pt;

}

#news
{
	
	width:40%;
	position:relative;
	top:100px;
	left:30px;
	padding-left:2%;
	padding-right:2%;
	padding-top:2%;
	
	

}

.container
{
	background-color:white;
	box-shadow: 5px 5px 5px #888888;
	

}

h2
{
	color:#CE0058;
	font-family:"Verdana";
	font-size:25pt;
	

}

.single_news
{
	width:100%;
	background-color:white;
	padding-top:5%;
	padding-bottom:5%;
	
	

}

#news_date, #news_author
{
	color:rgb(200,200,200);
	font-family:"Verdana";
	font-size:10pt;
	

}

h3
{

	color:#005EB8;
	font-size:20pt;

}

p
{
	font-family:"Verdana";

}

.single_news a
{
	text-decoration:none;
	color:#005EB8;
	float:right;
	font-size:16pt;

}


