@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Indie+Flower|Architects+Daughter);


body
{
	background-color:rgb(220,220,220);
	

}

.main_blue
{
	color:#005EB8;

}

.main_cherry
{
	color:#CE0058;

}

.main_font
{
	font-family:Arial, Helvetica, sans-serif;

}
#logo
{
	margin:0px;
	padding:0px;
		
		padding-left:5px;
	width:400px;
	height:70px;
	background: url(http://www.clker.com/cliparts/h/u/h/1/T/V/hot-pink-star-hi.png);
    background-size: 15% 80%;
    background-repeat: no-repeat;
	
	
	left:10px;
	top:5px;
	
	

}






#left_logo, #right_logo
{

	font-family: 'Covered By Your Grace', cursive;
	font-size:35pt;
	color:#005EB8;

}

#middle_logo
{
	
	color:#CE0058;
	font-size:45pt;
	font-family: 'Covered By Your Grace', cursive;
	

}

#logo_text
{
	padding:0px;
	margin:0px;
	padding-left:17%;
	padding-top:0%;

}

#menu_bar
{
	width:100%;
	min-width:1000px;
	height:60px;
	position:absolute;
	top:90px;
	left:0px;
	background-color:#005EB8;
	
	

}


#menu_bar ul
{
	list-style-type: none;
	margin: 10;
	padding: 10;
	

}

#menu_bar ul li
{
	display:inline;
	padding:10px;
	border-right: 1px solid white;

}

#menu_bar ul li:last-child { border-right: 0px; }

#left_menu
{
	float:left;

}

#right_menu
{
	float:right;

}

#menu_bar ul li a
{
	color:white;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11pt;

}

#news
{
	
	width:600px;
	position:relative;
	top:150px;
	left:30px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	
	
	
	

}

.container
{
	
	
	
	

}

h2
{
	color:#CE0058;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18pt;
	
	

}

.single_news
{
	width:100%;
	
	padding-top:5%;
	padding-bottom:5%;
	
	

}

#news_date, #news_author
{
	color:rgb(200,200,200);
	font-family:Arial, Helvetica, sans-serif;
	font-size:10pt;
	

}

h3
{

	color:#005EB8;
	font-size:15pt;

}

p
{
	font-family:Arial, Helvetica, sans-serif;
	

}

.single_news a
{
	text-decoration:none;
	float:right;
	font-size:16pt;
	color:#005EB8;
	

}

.news_separator
{
	width:100%;
	background-color:#CE0058;
	border-radius:25px;
	height:3px;
	margin-top:40px;
	
	

}

._img
{
	width:30%;
	height:25%;
    float:left;
	padding-right:25px;
	padding-top:20px;
	vertical-align:text-top;

}

._img_prod
{
	width:15%;
	height:15%;
    float:left;
	padding-right:10px;
	padding-top:10px;
	vertical-align:text-top;

}

.news_icon
{
	width:20px;
	height:20px;

}

#right_div
{
	width:500px;
	position:absolute;
	top:228px;
	left:668px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	border-left: 10px solid #CE0058;
	

}

#top_list, #top5
{
	width:100%;
	
	padding-top:0%;
	padding-bottom:5%;
	

}

#single_product
{
	width:100%;
	
	padding-top:10%;
	padding-bottom:10%;

}

.right-side
{
	float:right;
}

.prod
{	
	color:#005EB8;
	font-size:12pt;
	padding-left:30px;
	font-family:Arial, Helvetica, sans-serif;

}

.prod2
{	
	color:black;
	font-size:10pt;
	padding-left:30px;
	font-family:Arial, Helvetica, sans-serif;

}

table
{
	height:200px;

}

table, th, tr, td
{
	
	width:100%;
	border-spacing:5px;
	padding:5px;
	text-align:center;
	border-radius:15px;
	

}

.first_col
{
	width:10%;

}

.second_col, .third_col, .fourth_col
{
	width:30%;
	

}

#search_box
{
	
	
	padding:0px;
	padding-left:5px;
	width:25%;
	min-width:300px;
	height:40px;
	position:absolute;
	
	float:right;
	right:10px;
	top:40px;
	

}

.textbox
{
	

}

#search_text
{
	
	border-radius:10px;
	border:1px solid grey;
	padding:5px;
	height:30px;

}

#search_text:focus
{
	border:1px solid #005EB8;
	box-shadow: 0px 0px 5px #005EB8;

}

.search_img
{
	height:30px;
	width:30px;
	

}

#search_icon_cont
{
	float:right;
	

}

th
{
	background-color:#005EB8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
	color:white;

}

.empty
{
	background-color:white;

}
